// comecar o reset 
@use "variavies";
@use "hero";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
  background-color: variaveis.$corDeFundo;
}

// criar um mixin

@mixin text($FontSize: 16px) {
  font-size: $FontSize;
  line-height: $FontSize + 10px;
  color: variavies.$corTextoPrincipal;

}

@mixin title ($FontSize: 40px){
  @include text($FontSize);
  color: variavies.$corTextoSecundario;


}

// creating 3 classes 

.text--big {
  @include text (18px);
}

.text {
  @include text;
}

.text--small{
  @include text (12px);
}

.link-text {
  @include text(18px);
  color: variavies.$corTextoSecundario;
  text-decoration: underline;
}

.title--big {
  @include title(44px);
}

.title {
  @include title(40px);
}

.title--small {
  @include title(28px);
}
  

